<%- include('../archivos/cabecera', { usuario: usuario }) %> 
<br>
<br>
<section class="blog_wrapper">
  <div class="container">  
      <div class="row">        
          <div class="col-12 col-sm-12 col-md-8 col-lg-8">

            <% noticias.forEach(noticia => { %>
              <% if(noticia.visibilidad) { %>
              <div class="single_blog">
                  <div class="blog_banner">
                      <a href="#" title=""><img src="../public/uploads/<%= noticia.tituloNoticia %>/0.jpeg" alt="" class="img-fluid" width="698" height="371"></a>
                  </div>
                  <div class="post_content_wrapper">
                      <div class="post_date"><p>Publicado en: Fecha - <span>Categoría</span></p></div>
                      <h3><a href="./mostrar/<%= noticia.idNoticia %>/" title=""><%= noticia.tituloNoticia %></a></h3>
                      <!-- //TODO: Mostrar solo una parte del contenido. -->
                      <p><%= noticia.cuerpoNoticia %> </p>
                      <div class="post_by d-flex justify-content-between">
                          <a href="./mostrar/<%= noticia.idNoticia %>/" title="">Leer más <i class="flaticon-login-button"></i></a>
                          <div class="social_wrapper d-flex">
                              <span>Compartir: </span>
                              <ul class="social-items d-flex list-unstyled">
                                  <li><a href="#"><i class="fab fa-facebook-f fb_icon"></i></a></li>
                                  <li><a href="#"><i class="fab fa-twitter tw_icon"></i></a></li>
                                  <li><a href="#"><i class="fab fa-linkedin-in link_icon"></i></a></li>
                              </ul>   
                          </div>
                      </div>
                      <ul class="post_bloger">
                          <li>Publicado por: Administración</li> 
                      </ul>               
                  </div>
              </div>        
              <% } %>
            <% }) %>      

              <div class="pagination_blog">
                  <ul>
                      <li><a href="#">1</a></li>
                      <li class="current"><a href="#">2</a></li>
                      <li><a href="#" class=""><i class='flaticon-right-arrow'></i></a></li>
                  </ul>
              </div>            
          </div> <!-- End Blog Right Side--->

          <div class="col-12 col-sm-12 col-md-4 col-lg-4 blog_wrapper_right ">
              <div class="blog-right-items">
                  <div class="popular_tags widget_single">
                      <div class="items-title">
                          <h3 class="title">Categorías</h3>
                      </div>
                      <div class="tags-items">
                          <ul class="list-unstyled">
                              <li><a href="#" title="">Analista de Sistemas</a></li>
                              <li><a href="#" title="">Administración de Pymes</a></li>
                              <li><a href="#" title="">Seguridad e Higiene</a></li>
                              <li><a href="#" title="">Automatización y Control</a></li>
                              <li><a href="#" title="">I.S.F.T nº 190</a></li>
                              <li><a href="#" title="">Dirección</a></li>
                          </ul>
                      </div>
                  </div>  

                  <div class="twitter_post_wrapper widget_single">
                      <div class="items-title">
                          <h3 class="title">Publicaciones de Facebook</h3>
                      </div>
                      <p>Acá se podría poner el widget ofrecido por facebook para ver las publicaciones de la página</p>
                  </div>
              </div>
          </div><!-- ./ End  Blog Right Wrapper-->
          
      </div>
  </div> 
</section><!-- ./ End  Blog Wrapper-->

<%- include('../archivos/footer') %> 