<%- include('./archivos/cabecera', { usuario: usuario }) %> 

<style>
    .header_tow .edu_nav nav .navbar-nav li a {
        color: #FFF !important;  
    }
</style>

    <!--==================
        Las imágenes del SLIDER se redimensionan solas, pero el tamaño ideal es : 1920 x 885 o números cercanos.
    ===================-->
    <div class="rev_slider_wrapper">
        <div id="rev_slider_2" class="rev_slider" style="display:none">
            <!-- BEGIN SLIDES LIST -->
            <ul>
                <li data-index="rs-1706" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <div class="slider-overlay"></div>
                <img src="/public/images/banner/banner_2.jpg" alt="Sky" class="rev-slidebg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                         id="slide-3045-layer-1" 
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-150','-140','-120','-120']"
                        data-fontsize="['170','120','80','40']"
                        data-lineheight="['200','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":0,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; color:#EEEEEE; font-family:'Roboto', sans-serif; font-weight: 500; white-space: nowrap;text-transform:left;"><br><br><br>Noticia destacada
                    </div>

                <li data-index="rs-1708" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="slider-overlay"></div>
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="/public/images/banner/banner_1.jpg" alt="Sky" class="rev-slidebg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- BEGIN BASIC TEXT LAYER -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p" 
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-300','-280','-250','-200']" 
                        data-fontsize="['60','40','30','18']"
                        data-lineheight="['70','80','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                        style="z-index: 7; color:#fff; font-family:'Rubik', sans-serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:500;">I.S.F.T Nº 190.
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                         id="slide-3045-layer-11" 
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-150','-140','-120','-120']"
                        data-fontsize="['170','120','80','40']"
                        data-lineheight="['200','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 700; white-space: nowrap;text-transform:left;">Periodo de inscripción
                    </div>

                    <!-- LAYER NR.3 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                         id="slide-3045-layer-12" 
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['30','0','-10','-40']" 
                        data-fontsize="['170','120','80','40']"
                        data-lineheight="['200','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 700; white-space: nowrap;text-transform:left;">2021
                    </div>
                    
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption rev-btn rev-btn left_btn" 
                         id="slide-2939-layer13" 
                        data-x="['center','center','center','center']" data-hoffset="['-380','280','190','120']" 
                        data-y="['middle','middle','top','top']"  data-voffset="['360','220','600','450']" 
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on" 
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:#ff5a2c;bw:2px 2px 2px 2px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap; font-weight: 500; color: #ffffff;font-family:Rubik; text-transform:uppercase; background-color:#ff5a2c; border-color:rgba(0, 0, 0, 1.00); border-width:2px;  border-radius: 3px;">Ver más
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption rev-btn rev-btn right-btn" 
                         id="slide-2939-layer-15" 
                          data-x="['center','center','center','center']" data-hoffset="['380','-280','-190','-120']" 
                        data-y="['middle','middle','top','top']"  data-voffset="['360','220','600','450']" 
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on" 
                        data-responsive="off"
                       data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:#ff5a2c;bw:2px 2px 2px 2px; "}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                            data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                    style="z-index: 14; white-space: nowrap;  font-weight:500; color:#ffffff; font-family:Rubik; text-transform:uppercase; background-color:#092ace; letter-spacing:1px; border-radius: 3px;">Contactar
                    </div>
                </li>
            </ul><!-- END SLIDES LIST -->

        </div><!-- END SLIDER CONTAINER -->
    </div><!-- END SLIDER CONTAINER WRAPPER -->
</header><!--  End header section-->

<section class="popular_courses" id="popular_courses_2">
    <div class="container"> 
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Nuestras carreras</h2>
                    <p><strong>Conocé</strong> nuestra <b>oferta académica</b> para el año 2021.</p>  
                </div><!-- ends: .section-header -->
            </div>

            <% if(carreras) { %>
                <% carreras.forEach(carrera => { %>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="single-courses">
                            <div class="courses_banner_wrapper">
                                <div class="courses_banner">
                                    <a href="/carreras/mostrar/<%= carrera.id %>">
                                        <img src="/public/carreras/<%= carrera.nombreAbreviado %>/0.jpg" alt="<%= carrera.nombre %>" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="courses_info_wrapper">
                                <div class="courses_title">
                                    <h6><a href="/carreras/mostrar/<%= carrera.id %>"><%= carrera.nombreAbreviado %></a></h6>
                                    <div class="teachers_name">Resolución <a href="#" title=""><%= carrera.resolucion %></a></div>
                                </div>
                                <div class="courses_info">
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-calendar-alt"></i><%= carrera.duracion %> años</li>
                                        <li><i class="fas fa-user"></i><%= carrera.tipo %></li>
                                    </ul>
                                </div>
                                <a href="#" class="cart_btn">Ver más</a>
                            </div>
                        </div><!-- Ends: .single courses -->
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
</section> <!-- ./ End Courses Area section -->

<section class="latest_news_2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Noticias</h2>
                </div><!-- ends: .section-header -->
            </div>

            <% if(noticias) { %>
                <% noticias.forEach(noticia => { %>
                    <br>
                    <% if(noticia.visibilidad) { %>
                    <!-- //TODO: Hay que buscar la manera de que detecte cualquier extensión de imágen (jpg, jpeg, png), la mejor manera es forzando el cambio de formato a .jpg desde el back -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="single_item">
                           <div class="item_wrapper">
                               <div class="blog-img">
                                   <a href="/noticias/mostrar/<%=noticia.idNoticia%>" title=""><img src="/public/uploads/<%= noticia.tituloNoticia %>/miniaturas/0.jpg" alt="" class="img-fluid"></a>
                               </div>
                               <h3><a href="/noticias/mostrar/<%=noticia.idNoticia%>" title=""><%= noticia.tituloNoticia %></a></h3> 
                           </div>
                           <div class="blog_title">
                               <ul class="post_bloger">
                                   <li><i class="fas fa-user"></i>Administración</li> 
                                   <li><i class="fas fa-clock"></i>Viernes 20 de Noviembre</li>
                               </ul>               
                           </div> 
                           <div class="twitter_post">
                               <div class="blog_title">
                                   <a href="/noticias/mostrar/<%=noticia.idNoticia%>"><p style="font-size: 14px;"><%= noticia.cuerpoNoticia %></p></a>
                               </div>              
                           </div>  
                       </div>
                   </div>                    
                    <% } %>
                <% }) %>
            <% } else { %>
                <p>Aún no hay noticias!</p>
            <% } %>


        </div>
    </div>
</section><!-- End Blog -->


<%- include('./archivos/footer') %> 