<%- include('../archivos/cabecera', { usuario: usuario }) %> 

<section class="teachers_profile">
    <!-- //TODO: cambiar nombre clases -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5><b>Identificador carrera</b></h5>
                <%= datos.id %>
                <br>
                <h5><b>Nombre carrera</b></h5>
                <%= datos.nombre %>
                <br>
                <h5><b>Nombre abreviado</b></h5>
                <%= datos.nombreAbreviado %>
                <br>
                <h5><b>Titulo</b></h5>
                <%= datos.titulo %>
                <br>
                <h5><b>Resolución</b></h5>
                <%= datos.resolucion %>
            </div>
            <div class="col-md-6">
                <h5><b>Duración</b></h5>
                <%= datos.duracion %> años
                <br>
                <h5><b>Horas</b></h5>
                <%= datos.horas %> hs.
                <br>
                <h5><b>Tipo</b></h5>
                <%= datos.tipo %>
                <br>
                <h5><b>Modalidad</b></h5>
                <%= datos.modalidad %>
                <br>
                <h5><b>Activa</b></h5>
                <% if (datos.validada) { %>
                    <p>Sí</p>
                <% } else { %>
                    <p>Sí</p>
                <% } %>
            </div>
        </div>
        <br>
        <br>
        <% if(usuario) { %>
            <% if(!usuario.rol == "Administrador") { %>
        <a href="/carreras/<%= datos.id %>/actualizar" class="btn btn-lg btn-dark float-left">Modificar</a>
        <form action="/carreras/<%= datos.id %>/destruir" method="POST"><button type="submit" class="btn btn-lg btn-danger float-left" style="margin-left: 8px;">Borrar</a></form>
            <% } %>
        <% } %>
    </div>
</section>
<br>
<br>

<%- include('../archivos/footer') %> 