<%- include('../archivos/cabecera', { usuario: usuario }) %> 

<% if(usuario) { %> 
<section class="latest_news_2" id="latest_news_style_2">
    <div class="container">
        <center><a href="/carreras/crearCarrera" class="btn btn-sm btn-dark">Insertar nueva carrera</a></center>
        <br>
        <div class="row">
            <!-- //TODO: nuevamente sería conveniente cambiar los nombres de las clases -->
            <% carreras.forEach(carrera => { %>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                 <div class="single_item">
                    <div class="item_wrapper">
                        <h3><a href="/carreras/mostrar/<%= carrera.id %>" title="">Carrera: <%= carrera.nombre %> </a></h3> 
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li>
                                <a href="/carreras/<%= carrera.id %>/actualizar" class="btn btn-sm btn-dark">Actualizar</a>
                            </li> 
                            <li>
                                <form action="/carreras/<%= carrera.id %>/destruir" method="POST"><button type="submit" class="btn btn-sm btn-danger">Borrar</a></form>
                            </li>
                            <li>
                                <a href='/carreras/mostrar/<%= carrera.id %>' class="btn btn-sm btn-info">Ver</a>
                            </li>
                        </ul>               
                    </div> 
                </div>
            </div>    
            <% }) %>
        </div>
    </div>
</section>
<% } else { %>
    <section class="latest_news_2" id="latest_news_style_2">
        <div class="container">
            <center><strong>No tienes permisos suficientes para visualizar esta página.</strong></center>
        </div>
    </section>
<% } %>


<%- include('../archivos/footer') %>